/* Footer */
.footer-area {
    max-width: 77.5rem;
    padding: 2rem;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
  
  .footer-nav {
    flex-direction: column;
    line-height: 1.65rem;
  }
  
  .footer-nav h3 {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: black;
  }
  
  .footer-nav a:hover {
    color: #0065fc;
  }
  
  /* Responsive */
  /* - de 768 pixels*/
  @media screen and (max-width: 480px){
    .filters-choice{
      margin-right: .8rem;
    }
  
    .filters-area h3 {
      margin: 0 .4rem;
      font-size: .9rem;
    }
  }
  
  @media screen and (max-width: 575px) {
    /* Header */
    .header-area {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . signup" "navbar navbar navbar";
    }
  
    .nav-link,
    .signup {
      padding: 1rem;
      border-top: hidden;
    }
  
    .nav-link {
      border-bottom: 0.125rem solid #f2f2f2;
      width: 50%;
    }
  
    .active {
      border-bottom: 0.125rem solid #0065fc;
    }
  
    .logo {
      padding: 1rem;
    }
  
    .active, .nav-link:hover, .signup:hover {
      color: #0065fc;
      border-top: hidden;
    }
  
    .filters-area h3 {
      margin: 0 .4rem;
    }
  
    /* Search Form */
    .search-area {
      padding: 0 1rem;
    }
  
    .search-area h1,
    .search-area p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  
    .search-area h1 {
      font-size: 1.25rem;
    }
  
    .search-area p {
      font-size: 0.9375rem;
    }
  
    .search-input {
      padding: 0.5rem;
      max-width: 60%;
    }
  
    .search-button {
      font-size: 0;
    }
  
    .search-button::before {
      content: "\f002";
      font-family: "Font Awesome\ 5 Free";
      font-size: 1.25rem;
    }
  
    /* Filtres */
    .filters-area h2 {
      width: 100%;
    }
  
    /* Footer */
    .footer-area {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 1rem;
      padding-bottom: 2rem;
    }
  
    .footer-nav:not(:last-child){
      padding-bottom: 2rem;
    }
  
    .footer-nav h3{
      margin: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .search-area,
    .hebergements,
    .activites-area {
      padding: 0 1rem;
    }
  
    .hebergements{
      grid-template-columns: 1fr;
      grid-template-areas: "hebergements-popular" "hebergements-area";
      padding: 0;
    }
  
    .hebergements-popular{
      margin-bottom: 2rem;
      border-radius: 0;
    }
  
    .hebergements-area{
      background-color: transparent;
      grid-template-columns: 1fr;
    }
  
    .activites-area {
      row-gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
  }
  
  /* Entre 768 et 991 pixels */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .header-area,
    .search-area,
    .hebergements,
    .activites-area {
      padding: 0 1rem;
    }
  
    html {
      font-size: 14px;
    }
  
    .search-input {
      max-width: 30%;
    }
  
    .hebergements{
      grid-template-columns: 1fr;
      grid-template-areas: "hebergements-area" "hebergements-popular";
    }
  
    .hebergements-area{
      background-color: transparent;
      margin-bottom: 2rem;
    }
  
    .hebergements-popular{
      background-color: rgba(222, 235, 255, .3);
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
    }
  
    .hebergements-popular-title{
      grid-column: 1/-1;
    }
  
    .hebergements-popular-card-img-caption h3, .hebergements-popular-card-img-caption p {
      margin: .2rem;
    }
  
    .hebergements-popular-card-img-caption h3, .hebergements-popular-card-img-caption p, .hebergements-popular-card-img-caption ul{
      padding-left: .5rem;
    }
  
    .activites-area {
      row-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 12rem 12rem 12rem;
    }
  
    .filters-info {
      width: 100%;
     }
  }
  
  /* Entre 992 et 1199 pixels */
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area,
    .search-area,
    .hebergements,
    .activites-area {
      padding: 0 1rem;
    }
  
    html {
      font-size: 14px;
    }
  
    .activites-area {
      row-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 12rem 12rem;
    }
  }
  
  /* + de 1200 pixels */
  @media screen and (min-width: 576px) {
    /* Header */
    .header-area {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar signup";
    }
  
    .header-area, .search-area{
      padding: 0 1rem;
    }
  
    .nav-link,
    .signup {
      border-top: 0.125rem solid transparent;
    }
  
    .active,
    .nav-link:hover,
    .signup:hover {
      border-top: 0.125rem solid #0065fc;
    }
  /* Search */
    .search-area{
      padding-left: 1rem;
    }
    
    .search-input {
      padding: 0.5rem;
      max-width: 20%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .header-area,
    .search-area,
    .hebergements,
    .activites-area {
      padding: 0 1rem;
    }
  
    .activites-area {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    }
  
    .activites-area-card1 {
      grid-row: 2/7;
      grid-column: 1/2;
    }
  
    .activites-area-card2 {
      grid-column: 2/3;
      grid-row: 2/5;
    }
  
    .activites-area-card3 {
      grid-column: 2/3;
      grid-row: 6/7;
    }
  
    .activites-area-card4 {
      grid-column: 3/4;
      grid-row: 2/7;
    }
  
    .activites-area-card5 {
      grid-column: 4/5;
      grid-row: 2/3;
    }
  
    .activites-area-card6 {
      grid-column: 4/5;
      grid-row: 4/7;
    }
  }